#fondo {
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&q=80&w=2070) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}